<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Translator App</title>
</head>
<body>
    <div id="translator-main-page">
        <h1>Translator App</h1>
        <p>Welcome to the app! Please select translator type:</p>
        <div>
            <a href="#voice" class="btn-speech">Speech Translator</a>
            <a href="#text" class="text-translator-button">Text Translator</a>
        </div>
    </div>
    <div class="translator-container" id="voice-translator" style="display:none">
        <a href="#home">⬅ Back to Menu</a>
        <div class="select-container">
            <h1>🎤 Real-Time Voice Translator</h1>
            <div class="field">
                <label>Source Language:
                    <select id="src-language" class="lang-select" name="source-lang">
                        <option value="pl-PL" selected>Polish</option>
                        <option value="en-US">English</option>
                        <option value="fr-FR">French</option>
                        <option value="de-DE">German</option>
                        <option value="it-IT">Italian</option>
                        <option value="es-ES">Spanish</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="zh-CN">Chinese</option>
                    </select>
                </label>
            </div>
            <div class="field">
                <label>Target Language:
                    <select id="target-language" class="lang-select" name="target-lang">
                        <option value="pl-PL">Polish</option>
                        <option value="en-US" selected>English</option>
                        <option value="fr-FR">French</option>
                        <option value="de-DE">German</option>
                        <option value="it-IT">Italian</option>
                        <option value="es-ES">Spanish</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="zh-CN">Chinese</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="button-container">
            <button type="button" id="record-btn">Record</button>
            <button type="button" class="clear-btn">Clear</button>
        </div>
        <input type="hidden" name="history" id="history" value='{{ history_json|safe }}'>
        <div class="container">
            <div id="voice-output" class="sound-detection"></div>
            <div id="translation-result" class="target-translation"></div>
        </div>
    </div>
    <div class="translator-container" id="text-translator" style="display:none">
        <a href="#home">⬅ Back to Menu</a>
        <div class="select-container">
            <h1>Real-Time Text Translator</h1>
            <div class="field">
                <label>Source Language:
                    <select class="lang-select" name="source-lang">
                        <option value="pl-PL" selected>Polish</option>
                        <option value="en-US">English</option>
                        <option value="fr-FR">French</option>
                        <option value="de-DE">German</option>
                        <option value="it-IT">Italian</option>
                        <option value="es-ES">Spanish</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="zh-CN">Chinese</option>
                    </select>
                </label>
            </div>
            <div class="field">
                <label>Target Language:
                    <select class="lang-select" name="target-lang">
                        <option value="pl-PL">Polish</option>
                        <option value="en-US" selected>English</option>
                        <option value="fr-FR">French</option>
                        <option value="de-DE">German</option>
                        <option value="it-IT">Italian</option>
                        <option value="es-ES">Spanish</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="zh-CN">Chinese</option>
                    </select>
                </label>
                <button type="button" class="clear-btn">Clear</button>
            </div>
                <div class="container">
                    <form id="text-to-text-form">
                        <label>Podaj tekst do zamiany przetłumaczenia:</label><br>
                        <textarea id="text-to-translate" name="text" rows="5" cols="50" required></textarea><br><br>
                    </form>
                    <div class="target-translation" id="text-target-translation"></div>
                </div>
        </div>
    </div>
    <script>
        let leftBox = document.getElementById('voice-output');
        let rightBox = document.getElementById('translation-result');
        let mediaRecorder;
        let audioChunks = [];
        let audioBlob;
        let recordBtn = document.getElementById('record-btn');
        let translatorMainPage = document.getElementById('translator-main-page');
        let voiceTranslator = document.getElementById('voice-translator');
        let textTranslator = document.getElementById('text-translator');
        let textOutput = document.getElementById('text-target-translation')

        function render () {
            hash = window.location.hash
            voiceTranslator.style.display="none";
            textTranslator.style.display="none";
            translatorMainPage.style.display="none";
            if (hash === '#voice') {
                voiceTranslator.style.display = "block";
            } else if (hash === '#text') {
                textTranslator.style.display = "block";
            } else {

                translatorMainPage.style.display = "block";
            }
        }

        function debounce(func, timeout = 500) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => { func.apply(this, args); }, timeout);
            };
        }

        window.addEventListener('hashchange', render);
        window.addEventListener('load', render);

        let audioHistory = [];
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = (e) => {
                    audioChunks.push(e.data);
                };

                mediaRecorder.onstop = async () => {
                    audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
                    audioChunks = [];
                    let formData = new FormData();
                    let historyValue = document.getElementById('history').value;
                    const container = recordBtn.closest('.translator-container');
                    const src = container.querySelector('[name="source-lang"]').value;
                    const target = container.querySelector('[name="target-lang"]').value;
                    formData.append('source_lang', src);
                    formData.append('target_lang', target);
                    formData.append('history', historyValue);
                    formData.append('audio', audioBlob, 'audio.webm');

                    try {
                        const response = await fetch('/recognize', {
                            method: 'POST',
                            body: formData
                        });

                        const data = await response.json();


                        if (data.success) {
                            leftBox.innerHTML += `<div class="msg-block">${data.original_text}</div>`;
                            rightBox.innerHTML += `<div class="msg-block">${data.translation}</div>`;

                            const audioFormData = new FormData();
                            audioFormData.append('text', data.translation);
                            const audioResponse = await fetch('/synthesize', {
                                method: 'POST',
                                body: audioFormData
                            });
                            if (audioResponse.ok) {

                                const audioBlob = await audioResponse.blob();
                                const audio = new Audio(URL.createObjectURL(audioBlob));
                                audio.play();
                                audio.onended = () => URL.revokeObjectURL(audioUrl);
                                document.getElementById('history').value = data.history_json;
                                const historyArray = JSON.parse(data.history_json);
                                window.scrollTo(0, document.body.scrollHeight);
                            }
                        }
                    } catch (error) {
                        console.error("Błąd wysyłki:", error);
                    }
                };
            })


        recordBtn.addEventListener('click', async () => {
            if (mediaRecorder.state === 'recording') {
                mediaRecorder.stop();
                recordBtn.textContent = 'Record';
            } else {
                mediaRecorder.start();
                recordBtn.textContent = 'Stop';

            }
        });



        let debounceTimer = null;
        let abortController = null;
        textArea.addEventListener('input', () => {

            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(async () => {
                const text = textArea.value.trim();
                if (!text) return void (textOutput.innerHTML = "");
                abortController?.abort();
                abortController = new AbortController();
                const container = textArea.closest('.translator-container');
                const src = container.querySelector('[name="source-lang"]').value;
                const target = container.querySelector('[name="target-lang"]').value;
                const formData = new FormData();
                formData.append('text', text);
                formData.append('source_lang', src);
                formData.append('target_lang', target);


                try {
                    const translation = await fetch('/translate_text', {
                        method: 'POST',
                        body: formData,

                    })
                    const data = await translation.json();

                    if (data.success) {
                        textOutput.innerHTML = `<div class="msg-block">${data.translation.replace(/\n/g, '<br>')}</div>`;
                    }

                } catch (e) {
                    if (e.name !== 'AbortError')
                        textOutput.innerHTML = 'Błąd połączenia';
                }

            }, 500);
        });

        document.querySelectorAll('.clear-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                textArea.value = "";
                document.querySelectorAll('.sound-detection, .target-translation').forEach(div => {
                    div.innerHTML = "";
                });
                document.querySelectorAll('.sound-detection, .target-translation').forEach(div => {
                    div.innerHTML = "";
                });
                document.querySelectorAll('.lang-select').forEach(select => {
                    if (select.name === 'source-lang') select.value = 'pl-PL';
                    if (select.name === 'target-lang') select.value = 'en-US';
                });
                document.getElementById('history').value = '[]';
            });
        });




    </script>
</body>
</html>